:root {
  --main-blue: #7DF9FF;
  --main-white: white;
  --main-yellow: yellow;
  --dark-background: rgba(0, 0, 0, 0.932);
  --light-span: rgb(139, 139, 139);
  --dark-span: rgb(49, 49, 49);
}

body {
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .5rem;
  background-color: var(--dark-background);
  color: var(--main-white);
}

.title {
  position: relative;
  text-align: center;
  font-size: 5rem;
  color: var(--main-white);
}

.title-subtext {
  font-size: 1.1rem;
  letter-spacing: .1rem;
}

.electric {
  color: var(--main-yellow);
}

.title .underline {
  position: absolute;
  bottom: -.2rem;
  left: 0;
  width: 100%;
  height: .1rem; /* Adjust the value to control the thickness of the underline */
    background-image: linear-gradient(to left, var(--main-yellow), var(--main-white), var(--main-blue));
}

.state .hidden-one {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end;
}

.render .hidden-two {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.desc-title-one {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-blue);
  text-shadow: .063rem .063rem .063rem var(--main-yellow) ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5rem;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
  transition: 1s;
  cursor: default;
}

.state:hover .desc-title-one{
  color: var(--main-yellow);
  text-shadow: .063rem .063rem .063rem var(--main-blue);
  transition: 1s;
}

.useEffect:hover .desc-title-one{
  color: var(--main-yellow);
  text-shadow: .063rem .063rem .063rem var(--main-white);
  transition: 1s;
}

.desc-title-two {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
  color: black;
  text-shadow: .063rem .063rem .063rem var(--main-yellow) ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5rem;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
  transition: 1s;
  cursor: default;
}

.render .description {
  text-align: left;
}

.render:hover .desc-title-two {
  color: var(--main-yellow);
  transition: 1s;
  text-shadow: .063rem .063rem .063rem black ;
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background);
  padding: 1rem;
}

.render {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-blue);
  padding: 1rem;
}

.useEffect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background);
  padding: 1rem;
}

.description {
  text-align: left;
  min-width: 20rem;
  max-width: 30rem;
}

.hidden-one {
  display: none;
  color: green;
  text-align: left;
}

.hidden-two {
  display: none;
  color: green;
  text-align: left;
}

.description-container-one:hover .hidden-one{
display: inline-block;
}

.description-container-two:hover .hidden-two{
display: inline-block;
}

span {
  color: var(--light-span);
  font-style: italic;
  text-align: center;
}

.span-dark {
  color: var(--dark-span);
}

.section-container-one {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .625rem rgba(255, 255, 255, 0.178);
  transition: .5s;
}

.section-container-one:hover {
  box-shadow: 0 0 1.563rem rgba(255, 255, 255, 0.404);
  transition: .5s;
}

.section-container-two {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.178);
  transition: .5s;
}

.section-container-two:hover {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.589);
  transition: .5s;
}

.section-container-three {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0 0 .625rem rgba(255, 255, 255, 0.178);
  transition: .5s;
}

.section-container-three:hover {
  box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.404);
  transition: .5s;
}

.button-container {
  display: flex;
  flex: 1;
  border-radius: .5rem;
  justify-content: space-evenly;
}

.section-container-one button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: var(--main-blue);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.section-container-two button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: var(--main-yellow);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.section-container-three button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: var(--main-blue);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.left-button {
  border-radius: .5rem 0 0 0;
}

.middle-button {
  border-radius: 0;
}

.right-button {
  border-radius: 0 .5rem 0 0;
}

button:hover {
  font-size: .875rem;
  transition: .2s;
  background-color: #37c1c9;
}

.section-container-two button:hover {
  font-size: .875rem;
  transition: .2s;
  background-color: rgb(199, 199, 0);
}

.section-container-one .active-button {
  background-color: var(--main-yellow) ;
  color: black;
}

.messageBox-one {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(.313rem); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: var(--main-white);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 1.625rem;
}

.messageBox-two {
  background-color: rgba(0, 0, 0, 0.397);  
  backdrop-filter: blur(.313rem); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: var(--main-white);
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 1.625rem;
}

@media (max-width: 650px) {
  .state {
    flex-direction: column;
  }
  .render {
    padding-top: 5rem;
    flex-direction: column-reverse;
    
  }
  .useEffect {
    padding-top: 5rem;
    flex-direction: column;
  }
  .messageBox-one, .messageBox-two {
    min-width: 20rem;
  }
}
