body {
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  letter-spacing: .5rem;
  background-color: rgba(0, 0, 0, 0.932);
  color: white;
}

.title {
  position: relative;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  /* background-image: conic-gradient(
    yellow 0%, yellow 33%, white 33%, white 66%, #7DF9FF 66%, #7DF9FF 99%
  ); */
  /* background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, yellow, white 10%, #7DF9FF 20%); */
  /* text-shadow: 0px 0px 5px white, 0px 0px 5px #7DF9FF; */
}

.title .underline {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the value to control the thickness of the underline */
    background-image: linear-gradient(to left, yellow, white, #7DF9FF);


}

.desc-title-one {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: #7DF9FF;
  text-shadow: 1px 1px 1px yellow ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 56px;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
}

.desc-title-two {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px yellow ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 56px;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 1rem;
}

.render {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7DF9FF;
  padding: 1rem;
}

.useEffect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 1rem;
}

.description {
  text-align: center;
  margin: 1rem;
  min-width: 20rem;
  max-width: 30rem;
}

span {
  color: rgb(139, 139, 139);
  font-style: italic;
  text-align: center;
}

.span-dark {
  color: rgb(99, 99, 99);
}

.section-container-one {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.178);
}
.section-container-two {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}
.section-container-three {
  margin: 5rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.178);
}

.button-container {
  display: flex;
  flex: 1;
  border-radius: .5rem;
  justify-content: space-evenly;
}

.section-container-one button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: #7DF9FF;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.section-container-two button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: yellow;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.section-container-three button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: #7DF9FF;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.left-button {
  border-radius: .5rem 0 0 0;
}

.middle-button {
  border-radius: 0;
}

.right-button {
  border-radius: 0 .5rem 0 0;
}

button:hover {
  font-size: 14px;
  transition: .2s;
  background-color: #37c1c9;
}

.section-container-two button:hover {
  font-size: 14px;
  transition: .2s;
  background-color: rgb(199, 199, 0);
}

.section-container-one .active-button {
  background-color: yellow ;
  color: black;
}

.messageBox-one {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 26px;
}

.messageBox-two {
  background-color: rgba(0, 0, 0, 0.397);  
  backdrop-filter: blur(5px); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 26px;
}

@media (max-width: 650px) {
  .state {
    flex-direction: column;
  }
  .render {
    padding-top: 5rem;
    flex-direction: column-reverse;
    
  }
  .useEffect {
    padding-top: 5rem;
    flex-direction: column;
  }
  .messageBox-one, .messageBox-two {
    min-width: 20rem;
  }
}
