body {
  align-items: center;
  height: 100vh;
}

header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  letter-spacing: .5rem;
}

.desc-title-one {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: #7DF9FF;
  text-shadow: 1px 1px 1px #FDD023 ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 56px;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
}

.desc-title-two {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px yellow ;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 56px;
  letter-spacing: .5rem;
  font-style: italic;
  margin: 0;
}

.state {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 1rem;
}

.render {
  display: flex;
  align-items: center;
  background-color: #7DF9FF;
  padding: 1rem;
}

.useEffect {
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  margin: 1rem;
  min-width: 20rem;
  max-width: 30rem;
}

span {
  color: rgb(139, 139, 139);
  font-style: italic;
  text-align: center;
}

.section-container-one {
  margin: 5rem;
  border-radius: .5rem;
}
.section-container-two {
  margin: 5rem;
  border-radius: .5rem;
}
.section-container-three {
  background-color: rgb(245, 245, 245);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem lightgray;
}

.button-container {
  display: flex;
  flex: 1;
  border-radius: .5rem;
  justify-content: space-evenly;
}

.section-container-one button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: #7DF9FF;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.section-container-two button {
  flex: 1; 
  border: 0;
  padding: 0.4rem;
  cursor: pointer;
  font-size: medium;
  color: black;
  background-color: yellow;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
}

.left-button {
  border-radius: .5rem 0 0 0;
}

.middle-button {
  border-radius: 0;
}

.right-button {
  border-radius: 0 .5rem 0 0;
}

button:hover {
  font-size: 14px;
  transition: .2s;
  background-color: #37c1c9;
}

.section-container-one .active-button {
  background-color: yellow ;
  color: black;
}

.messageBox-one {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 26px;
}

.messageBox-two {
  background-color: rgba(255, 255, 255, 0.397);  
  backdrop-filter: blur(5px); 
  display: flex;
  min-width: 25rem;
  max-width: 25rem;
  min-height: 8rem;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 0 .5rem .5rem;
  text-align: center;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1rem;
  font-size: 26px;
}

@media (max-width: 650px) {
  .state {
    flex-direction: column;
  }
  .render {
    flex-direction: column;
  }
  .messageBox {
    min-width: 20rem;
  }
}
